@import '../css/reset.css';

.panel-interesante{
    display: grid;
    grid-template-areas: "imagen"
                         "contenido";
    
    width: 20vw;

    &__portada {
        grid-area: imagen;
        width: 20vw;
    }

    &__contenido {
        grid-area: contenido;
        padding: 1vw;
    }
}

.contenido {
    display: grid;
    grid-template-areas: "titular"
                         "descripcion"
                         "link";
    

    &__titular {
        grid-area: titular;
        font-size: 2vw;
        text-decoration: bold;
    }

    &__descripcion {
        grid-area: descripcion;
    }

    &__link {
        grid-area: link;
    }
}