.button {
    display: inline-block;
    width: 200px;
    height: 50px;
    background-color: #02a5a5;
    border: 1px solid #02a5a5;
    font-family: 'Roboto', sans-serif;
    line-height: 50px;
    font-weight: bold;
    font-size: 16px;
    color: #ffffff;

    &:hover{
        cursor: pointer;
        background-color: darken(#02a5a5, 10%);
    }

    &--claro {
        background-color: #ffffff;
        color: #02a5a5;

        &:hover {
            background-color: #ffffff;
        }
    }
}