.button {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #02a5a5;
    border: 1px solid #02a5a5;
    font-family: 'Roboto', sans-serif;
    line-height: 50px;
    font-weight: bold;
    font-size: 16px;
    color: #ffffff;
    text-align: center;

    &:hover{
        cursor: pointer;
        background-color: darken(#02a5a5, 10%);
    }

    &--claro {
        background-color: #ffffff;
        color: #02a5a5;

        &:hover {
            background-color: #ffffff;
        }
    }

    &--little {
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 13px;
        line-height: 30px;
    }

    &--reverse {
        background-color: transparent;
        color: #02a5a5;
        border: 0px;

        &:hover {
            background-color: transparent;
            color: white;
        }
    }
}