.client {
    display: grid;
    grid-template-areas: "image description";
    grid-template-columns: .5fr 1.5fr;
    font-family: 'Roboto', sans-serif;
    width: 450px;
    margin-bottom: 15vh;

    &__image {
        grid-area: image;
    }

    &__description {
        grid-area: description;
    }

    &__title {
        font-weight: bold;
        font-size: 2.5vh;
    }

    &__text {
        color: #666666;
    }

    @media (max-width: 700px) {
        width: 400px;

        &__title {
            font-size: 3vw;
        }

        &__text {
            font-size: 2.5vw;
        }
    }
}