.menu {
    display: flex;
    flex-direction: row;

    &__option {
        font-family: 'Roboto', sans-serif;
        margin-right: 30px;

        &--left {
            margin-left: auto;
        }
    }
}