.menu {
    display: flex;
    flex-direction: row;
    color: #99b4cc;

    &__option {
        font-family: 'Roboto', sans-serif;
        margin-right: 30px;
        

        &--right {
            margin-left: auto;
        }

        &:hover{
            cursor: pointer;
            color: white;
        }
    }

    &--claro {
        color: #bdbdbd;
    }

    &--radioactive {
        color: #2dcccd;
    }

    &--header-bottom {
        font-weight: bold;
        font-size: 15px;
        margin-top: 10px;
    }

    &--header-top {
        font-size: 12px;
        margin-bottom: 10px;
    }



    &__icon {
        margin-right: 4px;
    }

    &__image {
        width: 100px;
    }
}