$paddingSizes : ("s": 20, "m": 25, "l" : 80, "xl" : 90, "xxl" : 100);

.section {

    background-color: #ffffff;
    // padding-bottom: 160px;
    width: 100%;

    &--news{
        background-color: #e9e9e9;
    }

    &--dark {
        background-color: #004481;
        color: #ffffff;
    }

    &--more-dark {
        background-color: darken(#004481, 10%);
    }

    @each $sizeName, $sizeValue in $paddingSizes {
        &--padding-bottom-#{$sizeName} {
            padding-bottom: $sizeValue#{'px'};
        }

        &--padding-top-#{$sizeName} {
            padding-top: $sizeValue#{'px'};
        }

        &--padding-right-#{$sizeName} {
            padding-right: $sizeValue#{'%'};
        }

        &--padding-left-#{$sizeName} {
            padding-left: $sizeValue#{'%'};
        }

        &--padding-vertical-#{$sizeName} {
            padding-top: $sizeValue#{'px'};
            padding-bottom: $sizeValue#{'px'};
        }

        &--padding-horizontal-#{$sizeName} {
            padding-left: $sizeValue#{'%'};
            padding-right: $sizeValue#{'%'};
        }

        &--padding-#{$sizeName} {
            padding-top: $sizeValue#{'px'};
            padding-bottom: $sizeValue#{'px'};
            padding-left: $sizeValue#{'%'};
            padding-right: $sizeValue#{'%'};
        }

    }

    &__title{
        margin: 0px;
        text-align: center;
        margin-bottom: 35px;
        font-family: 'Roboto', sans-serif;
        font-size: 2.5vw;
    }

    &__content{

    }

    &__footer {
        text-align: center;
    }

    @media (max-width: 700px) {
        &__title{
            font-size: 5vw;
        }

        &__content {

        }
    }
}