$paddingSizes : ("xs": 10, "s": 20, "m": 50, "l" : 80, "xl" : 90, "xxl" : 100);

.section {

    background-color: #ffffff;
    // padding-bottom: 160px;
    width: 100%;

    &--news{
        background-color: #e9e9e9;
    }

    &--dark {
        background-color: #004481;
        color: #ffffff;
    }

    &--more-dark {
        background-color: darken(#004481, 10%);
    }

    @each $sizeName, $sizeValue in $paddingSizes {
        &--padding-bottom-#{$sizeName} {
            padding-bottom: $sizeValue#{'px'};
        }

        &--padding-top-#{$sizeName} {
            padding-top: $sizeValue#{'px'};
        }

        &--padding-right-#{$sizeName} {
            padding-right: $sizeValue#{'em'};
        }

        &--padding-left-#{$sizeName} {
            padding-left: $sizeValue#{'em'};
        }
    }

    &__title{
        margin: 0px;
        text-align: center;
        padding: 17px;
        margin-bottom: 35px;
        font-family: 'Roboto', sans-serif;
        font-size: 2.5vw;
    }

    &__content{
        // padding-left: 288px;
        // padding-right: 368px;
    }

    &__footer {
        text-align: center;
    }

    @media (max-width: 700px) {
        &__title{
            font-size: 5vw;
        }

        &__content {
            // padding-left: 15%;
            // padding-right: 0px;
            // margin: 0 auto;
        }
    }
}