.service {
    width: 200px;
    height: 300px;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;

    &:hover {
        cursor: pointer;
    }

    &__header{
        width: 100%;
        height: 65%;
        border-radius: 100%;
        background-color: #e9e9e9;
    }

    &__img {
        padding: 32.5%;
    }

    &__content {
        text-align: center;
        margin-top: 15px;
    }

    &__title {
        font-size: 1.5vw;
        margin-bottom: 6px;
    }

    &__link {
        text-decoration: none;
        font-weight: bold;
        color: #1464a5;
    }

    @media (max-width: 700px) {
        &__title {
            font-size: 3vw;
        }

        &__link {
            font-size: 2.5vw;
        }
    }
}