.l-columns {
    display: grid;
    grid-template-rows: 1fr;

    @for $i from 1 through 12 {
        &--#{$i}-columns {
            grid-template-columns: repeat($i, 1fr);
        }
    }

    @for $i from 1 through 12 {
        &--phone-#{$i}-columns {
            @media (max-width: 700px){
                grid-template-columns: repeat($i, 1fr);
            }
        }
    }

    &__area {
        @if $debug {
            border: 1px solid red;
        }
    }
}



