.l-header-menu {
    display: grid;
    grid-template-areas: ". top right"
                         "left bottom bottom";

    &__left {
        grid-area: left;
    }

    &__top {
        grid-area: top;
    }

    &__right {
        grid-area: right;
    }

    &__bottom {
        grid-area: bottom;
    }
}