.l-header-menu {
    display: grid;
    grid-template-areas: ". middle right"
                         "left bottom bottom";

    &__left {
        grid-area: left;
    }

    &__middle {
        grid-area: middle;
    }

    &__right {
        grid-area: right;
    }

    &__bottom {
        grid-area: bottom;
    }
}